@import "~font-awesome/css/font-awesome.css";
@import "~bootstrap/dist/css/bootstrap.min.css";

.alert-container {
  word-wrap: break-word;
  position: fixed;
  right: 50px;
  top: 50px;
  z-index: 9999;
  width: 350px;
}
